@font-face {
  font-family: "AP Type Pro Text";
  src: url("/font/APTypeProText-BoldItalic.eot");
  src: url("/font/APTypeProText-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/font/APTypeProText-BoldItalic.woff2") format("woff2"),
    url("/font/APTypeProText-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AP Type Pro Text";
  src: url("/font/APTypeProText-Bold.eot");
  src: url("/font/APTypeProText-Bold.eot?#iefix") format("embedded-opentype"),
    url("/font/APTypeProText-Bold.woff2") format("woff2"),
    url("/font/APTypeProText-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AP Type Pro Text";
  src: url("/font/APTypeProText-BoldItalic.eot");
  src: url("/font/APTypeProText-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/font/APTypeProText-BoldItalic.woff2") format("woff2"),
    url("/font/APTypeProText-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AP Type Pro Text";
  src: url("/font/APTypeProText-Medium.eot");
  src: url("/font/APTypeProText-Medium.eot?#iefix") format("embedded-opentype"),
    url("/font/APTypeProText-Medium.woff2") format("woff2"),
    url("/font/APTypeProText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AP Type Pro Text";
  src: url("/font/APTypeProText-Light.eot");
  src: url("/font/APTypeProText-Light.eot?#iefix") format("embedded-opentype"),
    url("/font/APTypeProText-Light.woff2") format("woff2"),
    url("/font/APTypeProText-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AP Type Pro Text";
  src: url("/font/APTypeProText-Medium.eot");
  src: url("/font/APTypeProText-Medium.eot?#iefix") format("embedded-opentype"),
    url("/font/APTypeProText-Medium.woff2") format("woff2"),
    url("/font/APTypeProText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AP Type Pro Text";
  src: url("/font/APTypeProText-Light.eot");
  src: url("/font/APTypeProText-Light.eot?#iefix") format("embedded-opentype"),
    url("/font/APTypeProText-Light.woff2") format("woff2"),
    url("/font/APTypeProText-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AP Type Pro Text";
  src: url("/font/APTypeProText-LightItalic.eot");
  src: url("/font/APTypeProText-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/font/APTypeProText-LightItalic.woff2") format("woff2"),
    url("/font/APTypeProText-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AP Type Pro Text";
  src: url("/font/APTypeProText-LightItalic.eot");
  src: url("/font/APTypeProText-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/font/APTypeProText-LightItalic.woff2") format("woff2"),
    url("/font/APTypeProText-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AP Type Pro Text";
  src: url("/font/APTypeProText-RegularItalic.eot");
  src: url("/font/APTypeProText-RegularItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/font/APTypeProText-RegularItalic.woff2") format("woff2"),
    url("/font/APTypeProText-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AP Type Pro Text";
  src: url("/font/APTypeProText-MediumItalic.eot");
  src: url("/font/APTypeProText-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/font/APTypeProText-MediumItalic.woff2") format("woff2"),
    url("/font/APTypeProText-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AP Type Pro Text";
  src: url("/font/APTypeProText-Regular.eot");
  src: url("/font/APTypeProText-Regular.eot?#iefix") format("embedded-opentype"),
    url("/font/APTypeProText-Regular.woff2") format("woff2"),
    url("/font/APTypeProText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AP Type Pro Text";
  src: url("/font/APTypeProText-MediumItalic.eot");
  src: url("/font/APTypeProText-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/font/APTypeProText-MediumItalic.woff2") format("woff2"),
    url("/font/APTypeProText-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AP Type Pro Text";
  src: url("/font/APTypeProText-Regular.eot");
  src: url("/font/APTypeProText-Regular.eot?#iefix") format("embedded-opentype"),
    url("/font/APTypeProText-Regular.woff2") format("woff2"),
    url("/font/APTypeProText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AP Type Pro Text";
  src: url("/font/APTypeProText-RegularItalic.eot");
  src: url("/font/APTypeProText-RegularItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/font/APTypeProText-RegularItalic.woff2") format("woff2"),
    url("/font/APTypeProText-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
